.app-top
{
    width: calc(100% - 72px);
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 36px;
}
.app-top-changeDirectory
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 290px;
    height: inherit;
    overflow: hidden;
}
.app-top-changeDirectory_title
{
    max-width: 220px;
    overflow: hidden;
}
.app-top-changeDirectory_button input
{
    display: none;
}
.app-top-changeDirectory_button div
{
    width: 55px;
    height: 25px;
    border-radius: 5px;
    background-color: #4BC631;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app-top-account
{
    height: inherit;
    width: 338px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.app-top-account_image
{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: #b5b5b5;
    margin-left: 10px;
    overflow: hidden;
}
.app-top-account_text
{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.app-top-account_text_triangle
{
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 8px solid #b5b5b5;
    margin: 0 5px;
}

.app-middle
{
    width: calc(100% - 72px);
    height: 68px;
    padding: 0 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.app-middle-block
{
    width: 290px;
    height: inherit;
    display: flex;
    justify-content: space-between;
}
.app-middle-block-cell
{
    height: inherit;
    width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.app-middle-block-cell_status
{
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.app-middle-block-cell_status_string
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.app-middle-block-cell_status_loader
{
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
}
.app-middle-block-cell_status_loader div
{
    height: 1px;
    width: 50px;
    background-color: #A1DBED;
}
.button-small
{
    width: 100%;
    height: 30px;
    border: 0;
    border-radius: 5px;
    background-color: #4BC631;
}
.button-big
{
    width: 100%;
    height: 68px;
    border: 0;
    border-radius: 5px;
    background-color: #4BC631;
}
.rot-loader
{
    width: 14px;
    height: 14px;
    background-color: transparent;
    border: 1px solid #b5b5b5;
    border-radius: 20px;
    margin: 0 10px;
    position: relative;
    animation: rot 0.5s infinite linear;
}
.rot-loader_banner
{
    position: absolute;
    width: 6px;
    height: 8px;
    top: 3px;
    left: -1px;
    background-color: #fff;
}

@keyframes rot
{
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}

.app-down
{
    width: calc(100% - 72px);
    height: 377px;
    padding: 0 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.app-down-saveList
{
    height: 375px;
    width: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.app-down-saveList-title
{
    width: inherit;
    height: 30px;
    display: flex;
    align-items: center;
}
.app-down-saveList-block
{
    width: inherit;
    height: 320px;
    border: 1px solid #b5b5b5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
}
.app-down-saveList-block::-webkit-scrollbar {
    width: 4px;
    height: 8px;
    background-color: transparent;
}
.app-down-saveList-block::-webkit-scrollbar-thumb {
    background: #b5b5b5;
    border-radius: 5px;
}
.app-down-saveList-block_header
{
    position: absolute;
    width: 250px;
    height: 20px;
    background-color: #fff;
    border-bottom: 1px solid #DEDFDF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left:20px;
}

.wtext12px
{
    color: white;
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
}
.wtext16px
{
    color: white;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
.gtext12px
{
    color: #b5b5b5;
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
}
.gtext16px
{
    color: #b5b5b5;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}