*
{
    user-select: none;
}
#root
{
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
}
html, body
{
    margin: 0;
    padding: 0;
    width: 700px;
    height: 500px;
}
.app-header
{
    position: relative;
    width: 100%;
    height: 25px;
    display: flex;
    flex-direction: row-reverse;
    -webkit-app-region: drag
}
.app-header_button
{
    width: 30px;
    height: inherit;
    color: #AAAFB2;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-app-region: no-drag;
    transition: 0.4s;
}
.app-header_button:hover
{
    background-color: #eee;
    transition: 0.4s;
}
.app-top
{
    width: calc(100% - 72px);
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 36px;
}
.app-top-changeDirectory
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 290px;
    height: inherit;
    overflow: hidden;
}
.app-top-changeDirectory_title
{
    max-width: 220px;
    overflow: hidden;
}
.app-top-changeDirectory_button input
{
    display: none;
}
.app-top-changeDirectory_button div
{
    width: 55px;
    height: 25px;
    border-radius: 5px;
    background-color: #4BC631;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
.app-top-changeDirectory_button div:hover
{
    transition: 0.2s;
    background-color: #4CCD33;
}
.app-top-account
{
    position: relative;
    height: inherit;
    width: 338px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.app-top-account_image
{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: #b5b5b5;
    margin-left: 10px;
    overflow: hidden;
}
.app-top-account_image img
{
    width: 100%;
    height: 100%;
}
.app-top-account_text
{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.app-top-account_text button
{
    display: none;
}
.app-top-account_text_triangle
{
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 8px solid #b5b5b5;
    margin: 0 5px;
}
.app-top-account-accountInfoBlock
{
    position: absolute;
    bottom: -90px;
    right: calc(50% - 160px);
    padding: 8px 10px;
    width: 200px;
    min-height: 20px;
    background-color: #ffffffaa;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    box-shadow: 3px 3px 10px gray;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.app-top-account-accountInfoBlock-menuText
{
    font-size: 10px;
    color: #777777;
    margin: 0;
}
.app-top-account-accountInfoBlock-authPlace
{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#authBlockGear svg
{
    width: 20px;
    height: 20px;
}
.app-top-account-accountInfoBlock-authPlace-settings
{
    background-color: transparent;
    border: 0;
}
.app-top-account-accountInfoBlock-authPlace-settings:hover svg
{
    fill: #8c8c8c;
}
.app-top-account-accountInfoBlock-authPlace-authButton
{
    position: relative;
    border: 0;
    border-radius: 7px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 35px;
    transition: .2s;
}
.app-top-account-accountInfoBlock-authPlace-authButton:hover
{
    background-color: #e0e0e0;
    transition: .2s;
}
.app-top-account-accountInfoBlock-authPlace-authButton svg
{
    position: absolute;
    left: 7px;
    top: 5px;
}
.app-top-account-accountInfoBlock-menuButton
{
    width: 100%;
    height: 30px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app-top-account-accountInfoBlock-menuButton button
{
    height: 12px;
    background-color: transparent;
    border: 0;
    color: #8c8c8c;
}
.app-top-account-accountInfoBlock-menuButton button:after
{
    content: '';
    width: 100%;
    height: 1px;
    background-color: #000;
}
.app-top-account-accountInfoBlock-menuButton button:hover
{
    color: #7c7c7c;
}

.app-middle
{
    width: calc(100% - 72px);
    height: 68px;
    padding: 0 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.app-middle-block
{
    width: 290px;
    height: inherit;
    display: flex;
    justify-content: space-between;
}
.app-middle-block-cell
{
    height: inherit;
    width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.app-middle-block-cell_status
{
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.app-middle-block-cell_status_string
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.app-middle-block-cell_status_loader
{
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
}
.app-middle-block-cell_status_loader div
{
    height: 1px;
    width: 50px;
    background-color: #A1DBED;
}
.button-small
{
    width: 100%;
    height: 30px;
    border: 0;
    border-radius: 5px;
    background-color: #4BC631;
    position: relative;
}
.button-big
{
    width: 100%;
    height: 68px;
    border: 0;
    border-radius: 5px;
    background-color: #4BC631;
    position: relative;
}
.button-big:hover,
.button-small:hover
{
    transition: 0.2s;
    background-color: #4CCD33;
}
.rot-loader
{
    width: 14px;
    height: 14px;
    background-color: transparent;
    border: 1px solid #b5b5b5;
    border-radius: 20px;
    margin: 0 10px;
    position: relative;
    animation: rot 0.5s infinite linear;
}
.rot-loader_banner
{
    position: absolute;
    width: 6px;
    height: 8px;
    top: 3px;
    left: -1px;
    background-color: #fff;
}

@keyframes rot
{
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}

.app-down
{
    width: calc(100% - 72px);
    height: 377px;
    padding: 0 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.app-down-saveList
{
    height: 375px;
    width: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.app-down-saveList-title
{
    width: inherit;
    height: 30px;
    display: flex;
    align-items: center;
}
.app-down-saveList-block
{
    width: inherit;
    height: 320px;
    border: 1px solid #b5b5b5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.app-down-saveList-block_header
{
    position: absolute;
    width: 250px;
    height: 20px;
    background-color: #fff;
    border-bottom: 1px solid #DEDFDF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left:20px;
}
.app-down-saveList-block_body
{
    width: 100%;
    height: calc(100% - 20px);
    margin-top: 20px;
    overflow: hidden;
    overflow-y: scroll;
}
.app-down-saveList-block_body::-webkit-scrollbar {
    width: 4px;
    height: 8px;
    background-color: transparent;
}
.app-down-saveList-block_body::-webkit-scrollbar-thumb {
    background: #b5b5b5;
    border-radius: 5px;
}
.app-down-saveList-cell
{
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
    padding: 0 18px;
    margin-top: 8px;
    color: #aaafb2;
    font-size: 10px;
}
.app-down-saveList-cell svg
{
    height: 20px;
}
.app-down-saveList-cell_info
{
    width: calc(100% - 5px);
    margin-left: 5px;
    height: 100%;
    display: flex;
    align-items: center;
}
.app-down-saveList-cell_info-name
{
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    overflow: hidden;
    text-overflow: ellipsis;
}
.app-down-saveList-cell_info-date
{
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    overflow: hidden;
    margin-left: 10px;
}

.wtext12px
{
    color: white;
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
}
.wtext16px
{
    color: white;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
.gtext12px
{
    color: #b5b5b5;
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
}
.gtext16px
{
    color: #b5b5b5;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
.hovered
{
    color: #8c8c8c;
    border-top-color: #9c9c9c;
    transition: 0.2s;
}